.wrapper {
  height: 524px;
  margin-bottom: 39px;
}

.page-header {
  .nav-list {
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 0 #e1e7ed;
    a {
      margin-left: 26px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 373px;
      height: 30px;
      margin-left: auto;
      margin-right: 19px;
      line-height: 30px;
      padding: 0;
    }
  }
}
