html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: Avenir-Black, sans-serif;
  color: #3d4e61;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #3d4e61;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
